/azure-rtos/*
/board/*
/CMSIS/
/component/*
/device/*
/doc/*
/iotc-azrtos-sdk/*
/mdio/*
/phy/*
/ports/*
/source/*
/startup/*
/utilities/*

/phy/*
!/phy/fsl_phyksz9131rnx.h
!/phy/fsl_phyksz9131rnx.c

/xip/*
!/xip/evkmimxrt1170_flexspi_nor_config.c
!/xip/MaaXBoard_S26KS256.cfx

/board/*
!/board/clock_config.h
!/board/clock_config.c
!/board/dcd.h
!/board/dcd.c
!/board/pin_mux.h
!/board/pin_mux.c
