/netxduo_addons/Debug/
/netxduo_addons/addons/
/netxduo_addons/crypto_libraries/
/netxduo_addons/nx_secure/

/adu_proxy_scripts/
**/Debug
**/common
**/ports

iotc-azrtos-sdk/cJSON/
iotc-azrtos-sdk/libTO/

*.html
*.pdf
