# Ignore all netxduo aside from .project/.cproject
/netxduo/*.md
/netxduo/*.txt
/netxduo/addons/
/netxduo/cmake/
/netxduo/common/
/netxduo/crypto_libraries/
/netxduo/docs/
/netxduo/nx_secure/
/netxduo/ports/
/netxduo/samples/
/netxduo/utility/
/netxduo/Debug/
/netxduo/Release/

# Ignore all threadx aside from .project/.cproject
/threadx/*.md
/threadx/*.txt
/threadx/cmake/
/threadx/common/
/threadx/common_modules/
/threadx/common_smp/
/threadx/docs/
/threadx/ports/
/threadx/ports_module/
/threadx/ports_smp/
/threadx/samples/
/threadx/utility/
/threadx/Debug/
/threadx/Release/

# Ignore all filex aside from .project/.cproject
/filex/*.md
/filex/*.txt
/filex/common/
/filex/ports/
/filex/cmake/
/filex/docs/
/filex/samples/
/filex/Debug/

# Ignore all iotc-azrtos-sdk aside from .project/.cproject
/iotc-azrtos-sdk/authentication/
/iotc-azrtos-sdk/azrtos-layer/
/iotc-azrtos-sdk/cJSON/
/iotc-azrtos-sdk/Debug/
/iotc-azrtos-sdk/include/
/iotc-azrtos-sdk/deps/
/iotc-azrtos-sdk/src/

*.html
*.pdf
