/netxduo/common/
/netxduo/Debug/
/netxduo/ports/

/netxduo_addons/common/
/netxduo_addons/Debug/
/netxduo_addons/ports/
/netxduo_addons/addons/
/netxduo_addons/crypto_libraries/
/netxduo_addons/nx_secure/

/threadx/common/
/threadx/Debug/
/threadx/ports/

/filex/common/
/filex/Debug/
/filex/ports/

/iotc-azrtos-sdk/authentication/
/iotc-azrtos-sdk/azrtos-layer/
/iotc-azrtos-sdk/cJSON/
/iotc-azrtos-sdk/Debug/
/iotc-azrtos-sdk/include/
/iotc-azrtos-sdk/iotc-c-lib/
/iotc-azrtos-sdk/LibTO/
/iotc-azrtos-sdk/src/

*.html
*.pdf
