/.project
/.idea

#ignore all referenced projects, but don't ignore the modified .project files
/netxduo/*
!/netxduo/.cproject

/basic-sample/*
!/basic-sample/src/*
!/basic-sample/.cproject
!/basic-sample/include/*
/basic-sample/include/app_config.h