name: Project Packages

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Projects
        run: |
          bash -x ./scripts/setup-project.sh mimxrt1060 &&
          bash -x ./scripts/setup-project.sh stm32l4 &&
          bash -x ./scripts/setup-project.sh same54xpro &&
          bash -x ./scripts/setup-project.sh rt1060-nxp &&
          bash -x ./scripts/setup-project.sh maaxboardrt-nxp &&
          bash -x ./scripts/setup-project.sh lpc55s69-nxp &&
          bash -x ./scripts/setup-project.sh maaxboardrt-project

      - name: Copy Supporting Docs and Licenses
        run: |
          cp -r README.md azrtos-licenses/ samples/mimxrt1060 &&
          cp -r README.md azrtos-licenses/ samples/stm32l4 &&
          cp -r README.md azrtos-licenses/ samples/same54xpro &&
          cp -r samples/nxpdemos/README.md azrtos-licenses/ samples/rt1060 &&
          cp -r samples/nxpdemos/README.md azrtos-licenses/ samples/maaxboardrt &&
          cp -r samples/nxpdemos/README.md azrtos-licenses/ samples/lpc55s69 &&
          cp -r samples/maaxboardrt-project/README.md azrtos-licenses/ samples/maaxboardrt-project

      #use wildcards so that directory path is preserved.
      - name: Publish mimxrt1060 Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-ms-mimxrt1060
          path: sample*/mimxrt1060

      - name: Publish stm32l4 Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-ms-stm32l4
          path: sample*/stm32l4

      - name: Publish same54xpro Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-ms-same54xpro
          path: sample*/same54xpro

      - name: Publish rt1060-nxp Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-nxp-mimxrt1060
          path: sample*/rt1060
          
      - name: Publish maaxboardrt-nxp Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-nxp-maaxboardrt
          path: sample*/maaxboardrt
          
      - name: Publish lpc55s69-nxp Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-nxp-lpc55s69
          path: sample*/lpc55s69

      - name: Publish maaxboardrt-project Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iotc-azrtos-maaxboardrt-project
          path: sample*/maaxboardrt-project





